{% extends base_template %}
{% load static %}

{% block content %}

<div class="forminput">
    <div class="select">
    <form method="GET" class="input">
    <select name="year">
        <option value="">Select Year</option>
        <option value="1">1st Year</option>
        <option value="2">2nd Year</option>
        <option value="3">3rd Year</option>
        <option value="4">4th Year</option>
    </select>
    <select name="course">
        <option value="">Select Course</option>
        {% for course in courses %}
        <option value="{{ course.id }}">{{ course.course }} </option>
          {% endfor %}
    </select>
</div>
  

    <button type="submit" class="btn btn-primary">
        Show Students
    </button>
</form>
</div>
   <form method="POST"> 
    {% csrf_token %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>Name</th>
                <th>Present</th>
                <th>Absent</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.roll_number }}</td>
                <td>{{ student.name }}</td>

                <td>
                    <input type="radio"
                           name="attendance_{{ student.id }}"
                           value="Present">
                </td>

                <td>
                    <input type="radio"
                           name="attendance_{{ student.id }}"
                           value="Absent">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}