{% extends base_template %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<div class="main">
    <div class="box2">
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
</div>
</div>
<div class="notice-list">
    {% for notice in notices %}
        <div class="notice-card">
            <h3>{{ notice.title }}</h3>
            <p>{{ notice.text }}</p>
            <small>{{ notice.date }}</small>
            <form method="POST" action="{% url 'deletenotice' pk=notice.id%}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    {% empty %}
        <p>No notices available.</p>
    {% endfor %}
</div>
<div class="pagination">

    {% if notices.has_previous %}
        <a href="?page={{ notices.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>
        Page {{ notices.number }} of {{ notices.paginator.num_pages }}
    </span>

    {% if notices.has_next %}
        <a href="?page={{ notices.next_page_number }}">
            Next
        </a>
    {% endif %}

</div>
{% endblock %}